<html>
  <head>
    <title>Movie Descriptions</title>
    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet" type="text/css">
  </head>
  <body style="text-align:center">
    <div class="page-header" style="text-align:center">
      <h1 style="font-family: 'Cinzel', serif">Movie Descriptions</h1>
    </div>
    <div style="width:50%;margin:auto;font-family:'Didact Gothic', sans-serif;">
      <h2>Type a movie title into the search form below and hit enter!</h2>
      <h2>Listen to a description of the movie play from the raspberry pi!</h2>
      <hr>
      <form action="/getmovie" method="post">
        <input type="text" name="movie_title" placeholder="enter a title...">
        <input type="submit" value="Search">
      </form>
      <br>
      <% if (error != null) { %>
        <div class="panel panel-danger">
          <div class="panel-heading">Error</div>
          <div class="panel-body">There was a problem: <%=error%></div>
        </div>
      <% } %>
      <% if (movie != null) { %>
        <div class="panel panel-success">
          <div class="panel-heading">The last movie you searched for was:</div>
          <div class="panel-body"><h3><i><%=movie%></i></h3></div>
        </div>
      <% } %>
      <br>
      <% if (summary != null) { %>
        <div class="panel panel-info">
          <div class="panel-heading">Summary:</div>
          <div class="panel-body"><h5><%=summary%></h5></div>
        </div>
      <% } %>
    </div>
  </body>
</html>
